<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:master="http://www.brainspeedtech.com/swarm/master" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation">
  <notation:Diagram xmi:id="_eSaI8BqCEemOpZ2MEkAtqQ" type="Master" element="_eSaI8hqCEemOpZ2MEkAtqQ" measurementUnit="Pixel">
    <styles xmi:type="notation:DiagramStyle" xmi:id="_eSaI8RqCEemOpZ2MEkAtqQ"/>
  </notation:Diagram>
  <master:MasterDesign xmi:id="_eSaI8hqCEemOpZ2MEkAtqQ" name="gen-react-native"/>
</xmi:XMI>
